<mat-toolbar>
    <span>MENU ITEMS</span>
    <span class="fill-remaining-space"></span>
    <div *ngIf="iniLanguage == 'English'; else showEnglish">
        <button mat-icon-button (click)='changeLanguage("Kurdish")'><mat-icon>language</mat-icon> | KU</button>
        <button class="btn-dialog-close" (click)="onClose()" mat-stroked-button tabindex="-1"><mat-icon>clear</mat-icon></button>
    </div>
    <ng-template #showEnglish>
        <div>
            <button mat-icon-button (click)='changeLanguage("English")'><mat-icon>language</mat-icon> | EN</button>
            <button class="btn-dialog-close" (click)="onClose()" mat-stroked-button tabindex="-1"><mat-icon>clear</mat-icon></button>
        </div>

    </ng-template>
</mat-toolbar>
<br>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
            <mat-card class="mat-elevation-z1">
                <span style="float:right;">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="action"><mat-icon>more_vert</mat-icon></button>    
                        <mat-menu #action="matMenu" class="menu_size">
                            <button mat-menu-item><mat-icon color="accent">local_offer</mat-icon> Add to offer</button>
                            <button mat-menu-item><mat-icon color="primary">edit</mat-icon> Edit item</button>
                            <button mat-menu-item><mat-icon color="primary">visibility</mat-icon> Show item</button>
                            <button mat-menu-item color="primary"><mat-icon>visibility_off</mat-icon> Hide item</button>
                            <button mat-menu-item><mat-icon color="warn">delete</mat-icon> Delete item</button>
                        </mat-menu>
                    </div>
                </span>
                <mat-card-header>
                    <mat-card-title>
                        <div>
                            <button mat-icon-button color="warn">-40%</button>
                            <button mat-icon-button color="accent"><mat-icon>local_offer</mat-icon> Offer</button>
                        </div>
                        <div *ngIf="language == 'English'; then englishishBlockTitle else kurdishBlockTitle">

                        </div>
                        <ng-template #englishishBlockTitle>
                            Pizza Tonda Romana {{ num }}
                        </ng-template>
                        <ng-template #kurdishBlockTitle>
                            <p style="text-align: right;">
                                <strong>
                                    پیتزا تێندا رۆمانا {{ num}}
                                </strong>
                            </p>
                        </ng-template>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div *ngIf="language == 'English'; then englishishBlockSubTitle else kurdishBlockSubTitle">

                        </div>
                        <ng-template #englishishBlockSubTitle>
                            Pizza
                        </ng-template>
                        <ng-template #kurdishBlockSubTitle>
                            <p style="text-align: right;">
                                <strong>
                                    پیتزا
                                </strong>
                            </p>
                        </ng-template>
                    </mat-card-subtitle>
                    <span fxFlex></span>
                </mat-card-header>
                <img mat-card-image src="../assets/images/deserts.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div *ngIf="language == 'English'; then englishishBlock else kurdishBlock">

                    </div>
                    <ng-template #englishishBlock>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </ng-template>
                    <ng-template #kurdishBlock>
                        <p style="text-align: right;">
                            <strong>
                                ماسی فرێش; دە جۆری ماسی; شریمپی جامبۆی برژاو; دەریایەک لە خۆشی; ماسی لە سەر شێوازی رێستۆرانتی دەریایی. ستێک
                            </strong>
                        </p>
                    </ng-template>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button style="width: 33%; padding: 2; margin: 0;" (click)="openSnackBar('fav')" color="warn">
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-button style="width: 33%; padding: 2; margin: 0;" (click)="openItem()" color="primary">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-button style="width: 33%; padding: 2; margin: 0;" (click)="openSnackBar('cart')" color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>