<div class="footer-area">
    <h2>DO NOT FORGET TO SUBSCRIBE ... </h2>
    <h4>Leave your email address in the subscribe section below and we will notify you of offers and events in your area!</h4>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="5px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of ['INFORMATION','HELPFUL LINKS','COMPANY','SUBSCRIBE']">
                <mat-grid-list cols="4" rowHeight="2:1">
                    <div>
                        <h2 style="text-align: center; color: rgb(255, 138, 4);">{{num}}</h2>
                        <h4 style="color: rgb(78, 78, 76);">support</h4>
                        <h4 style="color: rgb(78, 78, 76);">support</h4>
                    </div>
                </mat-grid-list>
            </div>
        </div>
    </div>
    <h4>
        &copy; Copyright 2021 Sapient Technology Ltd.
    </h4>


</div>