<mat-toolbar>
    <span>NEW ITEM</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" (click)="onClose()" mat-stroked-button tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<div class="content-btn">
    <button mat-stroked-button color="primary" (click)="onCreateCollection()">+ New collection</button>
</div>
<div>
    <mat-form-field class="example-chip-list" color="primary" appearance="fill">
        <mat-label>Available collections</mat-label>
        <mat-chip-list #chipList aria-label="Collection selection">
            <mat-chip *ngFor="let collection of collections" [selectable]="selectable" [removable]="removable" (removed)="remove(collection)">
                {{collection}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New collection..." #collectionInput [formControl]="collectionCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let collection of filteredCollections | async" [value]="collection">
                {{collection}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div class="content-btn-camera">
    <button mat-stroked-button (click)="onUpload()" color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>add_a_photo</mat-icon>
      </button>
</div>
<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
</mat-form-field>
<div>
    <h2>Add-on list</h2>
    <button mat-stroked-button mat-dialog-close color="warn" (click)="openAddOn()">Add-on to item</button>
    <mat-list role="list">
        <mat-list-item role="listitem">Item 1 -
            <small>&nbsp; [+ $ 0]</small>
        </mat-list-item>
        <mat-list-item role="listitem">Item 2 - <small>&nbsp; [+ $ 0.50]</small></mat-list-item>
        <mat-list-item role="listitem">Item 3 - <small>&nbsp; [+ $ 1:00]</small></mat-list-item>
    </mat-list>
</div>
<div>
    <button mat-stroked-button mat-dialog-close color="warn">Close</button>
</div>