<div>
    <mat-form-field appearance="fill">
        <mat-label>Host name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Table Number</mat-label>
        <mat-select>
            <mat-option value="one">Table 1</mat-option>
            <mat-option value="two">Table 2</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div style="text-align: center;">
    <button mat-stroked-button mat-dialog-close style="margin: 20px 0 0 0;" color="warn">Close</button>
</div>