<!-- <mat-toolbar color="primary">
    <span>Card View Demo</span>
    <div fxHide.lt-md>
        <span class="column-label">Columns</span>
        <mat-slider [min]="3" [max]="6" [thumbLabel]="true" [(ngModel)]="gridColumns"> </mat-slider>
    </div>
</mat-toolbar> -->
<app-sponser-component></app-sponser-component>
<app-category></app-category>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
            <mat-card class="mat-elevation-z1">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu {{ num }}</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../assets/images/deserts.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                    <p style="text-align: right;">
                        <strong>
                            ماسی فرێش; دە جۆری ماسی; شریمپی جامبۆی برژاو; دەریایەک لە خۆشی; ماسی لە سەر شێوازی رێستۆرانتی دەریایی. ستێک
                        </strong>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>