/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: whitesmoke;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
    justify-content: space-between;
}

.banner {
    width: 100%;
}

.content {
    padding: 16px;
}

.category-area {
    width: 50%;
    margin: auto;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.footer-area {
    background-color: #e4e1e1;
    text-align: center;
}

.footer-area h2 {
    font-size: large;
    color: rgb(78, 78, 76);
    text-align: center;
    padding: 15px;
}

.footer-area h4 {
    font-size: medium;
    color: rgb(78, 78, 76);
    text-align: center;
    padding: 15px;
}

.carousel-control-prev-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
    color: red;
}

.carousel-control-next-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}