/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: whitesmoke;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
    justify-content: space-between;
}

.mat-menu-panel.menu_size {
    width: 300px;
}

.banner {
    width: 100%;
}

.content {
    padding: 16px;
}

.controls-container {
    overflow: auto;
}

.content-btn {
    padding: 6px;
    text-align: start;
}

.content-btn-camera {
    padding-bottom: 16px;
    text-align: end;
    padding-right: 6px;
}

.example-chip-list {
    width: 100%;
}

.category-area {
    width: 50%;
    margin: auto;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.footer-area {
    background-color: #e4e1e1;
    text-align: center;
}

.footer-area h2 {
    font-size: large;
    color: rgb(78, 78, 76);
    text-align: center;
    padding: 15px;
}

.footer-area h4 {
    font-size: medium;
    color: rgb(78, 78, 76);
    text-align: center;
    padding: 15px;
}

.carousel {
    text-align: center;
}

.carousel-control-prev-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
}

.carousel-control-next-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}

#slider {
    height: 350px;
    overflow: hidden;
    width: 100%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -20px;
    text-align: center;
}

.menu_size {
    width: 50%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}